/* =========================| Avatar |========================= */



//====================> 1. Base

.avatar {
  font-size: 0;

  .holder {
    position: relative;
    display: block;
    padding-top: 100%;
    white-space: nowrap;
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    vertical-align: middle;
    background: inline-image('avatar.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}



//====================> 2. Screen cases

@media screen and (max-width: 1280px), screen and (max-height: 800px) {

  .avatar {
    .image {
      max-width: 500px;
      max-height: 500px;
    }
  }

}

@media screen and (max-width:  767px),
       screen and (max-width:  829px) and (max-height: 549px),
       screen and (max-height: 569px) {

  .avatar {
    margin: 10px 0 20px;

    .holder {
      padding-top: 270px;
    }

    .image {
      display: block;
      max-width: 250px;
      max-height: 250px;
      margin: 20px auto 0;
    }
  }

}
