/* =========================| Header icons |========================= */



//====================> 0. Config


$icons: (
  social: linkedin twitter,
  dev: codepen github
);



//====================> 1. Base

header.page {
  .ext-link {
    @include transition(all .2s ease-in-out);
  }

  .icon {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: auto 32px;
  }

  @for $l from 0 to length($icons) {
    $type: nth(nth($icons, $l + 1), 1);
    $list: nth(nth($icons, $l + 1), 2);

    $pos: 10px;
    $direction: if($type == 'social', 'left', 'right');

    @for $i from 0 to length($list) {
      $item: nth($list, $i + 1);
      .#{$item} { #{$direction}: $pos; background-image: inline-image('accounts/#{$item}.svg'); }
      $pos: $pos + 44px;
    }
  }
}

html:not(.mobile) header.page a:active { opacity: .75; }
html:not(.mobile) header.page a:hover,
html.mobile header.page a:active { @include translate(0, -5px); }
