/* =========================| Logos list |========================= */



//====================> 0. Setup

$logo-heights: (
  base: 82px,
  small: 70px,
  mobile: 58px
);

@mixin logo-width($type, $height, $ratio) {
  width: $height * $ratio;

  @if $type == 'png' {
    background-size: auto $height;
  }
}

@mixin logos() {
  @for $i from 1 through length($logos) {
    $type: nth(nth($logos, $i), 1);

    $type-map: map-get($logos, $type);

    @for $e from 1 through length($type-map) {
      $logo: nth(nth($type-map, $e), 1);
      $ratio: nth(nth($type-map, $e), 2);
      $path: '../images/logos/#{$type}/#{$logo}.#{$type}';

      .logo-#{$logo} {
        @include logo-width($type, map-get($logo-heights, 'base'), $ratio);

        background-image: inline-image($path);
      }

      @media screen and (max-height: 640px) and (min-width: 900px),
             screen and (max-width: 1024px) {

        .logo-#{$logo} {
          @include logo-width($type, map-get($logo-heights, 'small'), $ratio);
        }

      }

      @media screen and (max-width:  767px),
             screen and (max-width:  829px) and (max-height: 549px),
             screen and (max-height: 569px) {

        .logo-#{$logo} {
          @include logo-width($type, map-get($logo-heights, 'mobile'), $ratio);
        }

      }
    }
  }
};



//====================> 1. Base

html .logos-list {
  @include logos();

  padding: 10px 0;
  margin-left: -10px;
  font-size: 0;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    @include transition(all .2s ease);

    display: block;
    height: map-get($logo-heights, 'base');
  }
}

html:not(.mobile) .logos-list a:active { opacity: .75; }
html:not(.mobile) .logos-list a:hover,
html.mobile .logos-list a:active { @include translate(0, -5px); }



//====================> 2. Screen cases

@media screen and (max-height: 640px) and (min-width: 900px),
       screen and (max-width: 1024px) {

  html .logos-list a {
    height: map-get($logo-heights, 'small');
  }

}

@media screen and (max-width:  767px),
       screen and (max-width:  829px) and (max-height: 549px),
       screen and (max-height: 569px) {

  html .logos-list a {
    height: map-get($logo-heights, 'mobile');
  }

}
