// =========================| Atom: Doc |========================= //



//====================> 1. Base

.pa-doc {
  position: relative;
  display: inline-block;
  padding-left: 32px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: auto 24px;
    content: '';
  }

  &.resume::before {
    background-image: url(data-uri('src/images/docs/resume.png'));
  }

  &.portfolio::before {
    background-image: url(data-uri('src/images/docs/portfolio.png'));
  }
}



//====================> 2. Screen cases

@media screen and (max-width: $role-breakpoint-maxw-xxl),
       screen and (max-height: $role-breakpoint-maxh-xl) {

  .pa-doc {
    padding-left: 28px;

    &::before {
      width: 20px;
      height: 20px;
      background-size: auto 20px;
    }
  }

}

@media screen and (max-height: $role-breakpoint-maxh-l) and (min-width: $role-breakpoint-minw-xl),
       screen and (max-width: $role-breakpoint-maxw-xl) {

  .pa-doc {
    padding-left: 24px;

    &::before {
      width: 16px;
      height: 16px;
      background-size: auto 16px;
    }
  }

}
