// =========================| Atom: Gradient |========================= //



//====================> 1. Base

.pa-gradient {
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#efefef+0,ffffff+100
  $experimental-support-for-svg: true;
  $col-gradient-top: #efefef;
  $col-gradient-bottom: #fff;

  @include background-image(linear-gradient(top, rgba($col-gradient-top, 1) 0%, rgba($col-gradient-bottom, 1) 100%));

  position: absolute;
  z-index: 2;
  width: 100%;
  height: $role-size-height-gradient;
}



//====================> 2. Screen cases

@media screen and (max-width: $role-breakpoint-maxw-m),
       screen and (max-width: $role-breakpoint-maxw-l) and (max-height: $role-breakpoint-maxh-s),
       screen and (max-aspect-ratio: #{1/1}) {

  .pa-gradient {
    height: $role-size-height-gradient / 1.5;
  }

}
