// =========================| Atom: Page title |========================= //



//====================> 1. Base

.pa-ttl-page {
  margin: 0; // reset h1's margin
  font-size: $role-text-size-ttl-page;
  line-height: $role-line-height-ttl;
  color: $role-text-col-ttl;
}



//====================> 2. Screen cases

@media screen and (max-width: $role-breakpoint-maxw-xxl),
       screen and (max-height: $role-breakpoint-maxh-xl) {

  .pa-ttl-page {
    font-size: $role-text-size-ttl-page / 1.2;
  }

}

@media screen and (max-height: $role-breakpoint-maxh-l) and (min-width: $role-breakpoint-minw-xl),
       screen and (max-width: $role-breakpoint-maxw-xl) {

  .pa-ttl-page {
    font-size: $role-text-size-ttl-page / 1.5;
  }

}

@media screen and (max-width: $role-breakpoint-maxw-s) {

  .pa-ttl-page {
    font-size: $role-text-size-ttl-page / 1.9;
  }

}
