// =========================| Molecule: Summary |========================= //



//====================> 1. Base

.pm-summary {
  display: block;

  .text {
    margin: 1.5em 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}
