// =========================| Molecule: Avatar |========================= //



//====================> 1. Base

.pm-avatar {
  font-size: 0;

  .holder {
    position: relative;
    display: block;
    padding-top: 100%;
    white-space: nowrap;
  }

  .image {
    $size-limit: $role-size-image;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    background: inline-image('avatar.png') no-repeat 0 0;
    background-size: 100% auto;
  }
}



//====================> 2. Screen cases

@media screen and (max-width: $role-breakpoint-maxw-xxl),
       screen and (max-height: $role-breakpoint-maxh-xl) {

  .pm-avatar {
    .image {
      $size-limit: $role-size-image / 1.2;

      max-width: $size-limit;
      max-height: $size-limit;
    }
  }

}

@media screen and (max-width: $role-breakpoint-maxw-m),
       screen and (max-width: $role-breakpoint-maxw-l) and (max-height: $role-breakpoint-maxh-s),
       screen and (max-aspect-ratio: #{1/1}) {

  .pm-avatar {
    .holder {
      padding-top: 270px;
    }

    .image {
      $size-limit: $role-size-image / 2.4;

      display: block;
      max-width: $size-limit;
      max-height: $size-limit;
      margin: 20px auto 0;
    }
  }

}
