// ===================================================|
// Mixins: SCALABILITY

// -------------------------| Scaler
@mixin scaler(
  $property,
  $min-size,
  $max-size,
  $min-vw: map-get($roles-screens, 'min'),
  $max-vw: map-get($roles-screens, 'max'),
  $min-vh: 600,
  $max-vh: 800
) {
  #{$property}: #{strip-unit(($min-vw * 0.9796) * $min-size) / 1000}vw; // 0.9796 fixes wrong calculations in Chrome

  @media screen and (min-width: $min-vw) {
    #{$property}: get-progressive-calc($min-size, $max-size, $min-vw, $max-vw);
  }

  @media screen and (min-width: $max-vw) {
    #{$property}: $max-size;
  }

  @if $property == font-size {
    @media screen and (orientation: landscape) and (min-width: #{map-get($roles-breakpoints, 'text')}) and (max-height: #{map-get($roles-breakpoints, 'tight-height') - 1}) {
      #{$property}: get-progressive-calc(
        $min-size * 0.9,
        $max-size * 0.9,
        $min-vw,
        $max-vw,
        vh
      );
    }
  }
}
