// ===================================================|
// Atoms: TEXT

// -------------------------| Root
.root {
  line-height: map-get($roles-typo-line-heights, 'text');

  p {
    margin-top: 0;
  }

  > *:first-child {
    &::first-letter {
      float: left;
      padding-right: rem(6.5px);
      margin: -#{rem(12px)} 0;
      font-size: rem(60px);
      font-weight: 600;
      line-height: 1;
      color: transparent;
      background: linear-gradient(
        70deg,
        #{map-get($roles-col-labels, 'code')} 33%,
        #{map-get($roles-col-labels, 'design')} 66%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @-moz-document url-prefix('') {
    > *:first-child {
      &::first-letter {
        margin: -#{rem(5px)} 0;
      }
    }
  }

  *:last-child {
    margin-bottom: 0;
  }
}
