// ===================================================|
// Atoms: TEXT

// -------------------------| Root
.root {
  line-height: map-get($roles-typo-line-heights, 'text');

  p {
    margin-top: 0;
  }

  > *:first-child {
    &::first-letter {
      float: left;
      padding-right: 0.5rem;
      margin: 0 0 -0.8rem 0.3rem;
      font-size: 7.2rem;
      font-weight: bold;
      line-height: 1;
      color: map-get($swatch-colors-mono, 'dusty-gray');
    }
  }

  @-moz-document url-prefix('') {
    > *:first-child {
      &::first-letter {
        margin-top: 1.1rem;
      }
    }
  }

  *:last-child {
    margin-bottom: 0;
  }
}
