// ===================================================|
// General: APP

// -------------------------| Body
body {
  font: map-get($roles-typo-font-weights, 'body')
    map-get($roles-typo-font-sizes, 'body')
    map-get($roles-typo-font-families, 'body');
}

// -------------------------| __nuxt container
body > div {
  //
}

// -------------------------| Colored labels
[data-col='o'] {
  color: map-get($roles-col-labels, 'design');
}

[data-col='b'] {
  color: map-get($roles-col-labels, 'code');
}
