doctype html

= '\n\n'

| <!--[if IE]><![endif]-->
| <!--[if IE 9]><![endif]-->

= '\n'

html(lang='en')
  head
    title #{pkg.title} - #{pkg.author.name}

    = '\n'

    include includes/head/meta

    include includes/head/webapp

    include includes/head/social/google
    include includes/head/social/facebook
    include includes/head/social/twitter

    include includes/head/robots

    include includes/head/favicons

    include includes/head/styles

    include includes/head/fonts

  = '\n'

  body(ontouchstart='')
    div(class='gradient')

    = '\n'

    include includes/sections/profiles

    = '\n'

    section(class='cf')
      include includes/sections/cover

      = '\n'

      include includes/sections/experience

      = '\n'

      include includes/sections/copyright

    include includes/foot/scripts

    include includes/foot/analytics
