doctype html

= '\n\n'

| <!--[if IE]><![endif]-->
| <!--[if IE 9]><![endif]-->

= '\n'

html(lang='en')
  head
    title #{pkg.title} - #{pkg.author.name}

    = '\n'

    include includes/head/_meta

    include includes/head/_webapp

    include includes/head/social/_google
    include includes/head/social/_facebook
    include includes/head/social/_twitter

    include includes/head/_robots

    include includes/head/_favicons

    include includes/head/_styles

    include includes/head/_fonts

  = '\n'

  body(ontouchstart='')
    include includes/atoms/_pa_gradient

    include includes/templates/_pt_homepage

    include includes/foot/_scripts

    include includes/foot/_analytics
