<article :class="$style.root">
  <div :class="$style.head">
    <Heading :size="1" :class="$style.title"><span v-html="title" /></Heading>
    <Avatar v-if="author && author.avatar" :class="$style.avatar" :src="author.avatar" :alt="author.name" />
  </div>

  <div :class="$style.content">
    <div :class="$style.text">
      <TextBlock :text="formattedText" />
    </div>

    <div :class="$style.foot">
      <Author
        v-if="author"
        :name="author.name"
      />
    </div>
  </div>
</article>
