// ===================================================|
// Molecules: ARTICLE

//--------------------------| Root
.root {
  //
}

//--------------------------| Head
.head {
  position: relative;
}

//--------------------------| Title
.title {
  //
}

//--------------------------| Avatar
.avatar {
  @include absolute-centered-y();

  right: 0;

  @media (max-width: #{map-get($roles-breakpoints, 'text') - 1}) {
    @include dimensions-square(rem($roles-size-avatar / 2));

    top: 0;
    transform: none;
  }
}

//--------------------------| Content
.content {
  margin-top: rem(map-get($roles-spaces-min, 'molecules') * 4);

  @media (min-width: #{map-get($roles-breakpoints, 'text')}) {
    column-count: 2;
    column-gap: rem(map-get($roles-spaces-min, 'molecules') * 2);
  }
}

//--------------------------| Text
.text {
  //
}

//--------------------------| Foot
.foot {
  margin-top: rem(map-get($roles-spaces-min, 'molecules'));
}
