// ===================================================|
// Molecules: ARTICLE

// -------------------------| Root
.root {
  //
}

// -------------------------| Head
.head {
  position: relative;

  @media screen and (max-width: #{map-get($roles-breakpoints, 'text') - 1}) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

// -------------------------| Title
.title {
  //
}

// -------------------------| Avatar
.avatar {
  @include absolute-centered-y();

  right: 0;

  @media screen and (max-width: #{map-get($roles-breakpoints, 'text') - 1}) {
    position: static;
    margin-bottom: rem(map-get($roles-spaces-min, 'atoms') * 2);
    transform: none;
  }
}

// -------------------------| Content
.content {
  margin-top: rem(map-get($roles-spaces-min, 'molecules') * 2);

  @media screen and (min-width: #{map-get($roles-breakpoints, 'text')}) {
    column-count: 2;
    column-gap: rem(map-get($roles-spaces-min, 'molecules') * 2);
  }
}

// -------------------------| Text
.text {
  //
}

// -------------------------| Foot
.foot {
  margin-top: rem(map-get($roles-spaces-min, 'molecules'));
}

// -------------------------| Print styles
@media print {
  .head {
    display: flex;
    align-items: flex-end;
  }

  .avatar {
    position: static;
    transform: translate(30px, -10px);
  }

  .content {
    margin-top: rem(map-get($roles-spaces-min, 'molecules') * 2);
  }
}
