// =========================| Organism: Cover |========================= //



.po-cover {

  $offset: $role-size-height-header + $role-size-height-footer;
  $margin: 20px;



  //====================> 1. Base

  display: flex;
  align-items: center;
  max-width: 1240px;
  min-height: calc(100vh - #{$offset});
  margin: 0 auto;
  text-align: left;

  .stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .col {
    width: 50%;
    padding: 2% 10px;
  }

  .holder {
    margin: 0 auto;
  }



  //====================> 2. Screen cases

  @media screen and (max-width: $role-breakpoint-maxw-xxl),
         screen and (max-height: $role-breakpoint-maxh-xl) {

    & {
      max-width: 1000px;
    }

  }

  @media screen and (max-height: $role-breakpoint-maxh-l) and (min-width: $role-breakpoint-minw-xl),
         screen and (max-width: $role-breakpoint-maxw-xl) {

    & {
      max-width: 880px;
    }

  }

  @media screen and (max-width: $role-breakpoint-maxw-m),
         screen and (max-width: $role-breakpoint-maxw-l) and (max-height: $role-breakpoint-maxh-s),
         screen and (max-aspect-ratio: #{1/1}) {

    & {
      min-height: calc(100vh - #{$offset + $margin});
      margin-bottom: $margin;

      .stage {
        flex-direction: column;
        justify-content: center;
      }

      .col {
        width: 100%;
        min-height: 0;
      }

      .holder {
        max-width: 480px;
        margin: 0 auto;
      }
    }

  }


} // .po-cover
