// =========================| Organism: Copyright |========================= //



//====================> 1. Base

.po-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
