// ===================================================|
// Atoms: LINK

// -------------------------| Root
.root {
  position: relative;
  display: flex;
  margin-left: rem(
    $roles-size-link-icon + map-get($roles-spaces-min, 'text-icon')
  );
}

// -------------------------| Icon
.icon {
  @include dimensions-square(rem($roles-size-link-icon));

  position: absolute;
  right: 100%;
  margin-right: rem(map-get($roles-spaces-min, 'text-icon'));
}

// -------------------------| Label
.label {
  font-size: map-get($roles-typo-font-sizes, 'link');
}

// -------------------------| Print styles
@media print {
  .root::after {
    content: attr(href);
  }

  .label {
    font-size: 0;
  }
}
