// ===================================================|
// Layouts: DEFAULT

// -------------------------| Root
.root {
  @include scaler(
    padding-left,
    map-get($roles-spaces-min, 'app'),
    map-get($roles-spaces-max, 'app')
  );
  @include scaler(
    padding-right,
    map-get($roles-spaces-min, 'app'),
    map-get($roles-spaces-max, 'app')
  );
  @include padding-v(rem(40px));

  position: relative;
  display: flex;
  flex-direction: column;
  //min-width: map-get($roles-screens, 'min');
  max-width: map-get($roles-screens, 'max');
  min-height: 100vh;
  margin: 0 auto;
  font: map-get($roles-typo-font-weights, 'body')
    map-get($roles-typo-font-sizes, 'body')
    map-get($roles-typo-font-families, 'body');
  background-color: map-get($roles-col-backgrounds, 'app');

  @media screen and (max-width: #{map-get($roles-breakpoints, 'text') - 1}) {
    padding-top: rem(26px);
  }

  main {
    flex: 1;
    margin-bottom: rem(map-get($roles-spaces-min, 'organisms') * 2);

    @media (max-width: #{map-get($roles-breakpoints, 'text') - 1}) {
      max-width: #{380px / $base-html-font-size}rem;
    }

    @media (min-width: #{map-get($roles-breakpoints, 'text')}) {
      max-width: #{680px / $base-html-font-size}rem;
    }
  }
}

// -------------------------| Print styles
@media print {
  .root {
    padding: 0;

    main {
      margin-bottom: 0;
    }

    footer {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
