// ===================================================|
// Roles: COLORS

// -------------------------| Text
$roles-col-texts: map-merge(
  $roles-col-texts,
  (
    'heading': map-get($swatch-colors-mono, 'mine-shaft'),
    'author': map-get($swatch-colors-mono, 'dove-gray')
  )
);

// -------------------------| Labels
$roles-col-labels: (
  'design': map-get($swatch-colors-brand, 'orange'),
  'code': map-get($swatch-colors-brand, 'blue')
);

// -------------------------| Links
$roles-col-links: map-merge($roles-col-links, ());

// -------------------------| Backgrounds
$roles-col-backgrounds: map-merge($roles-col-backgrounds, ());
