// ===================================================|
// Roles: BORDERS

// -------------------------| Dividers
$roles-borders-dividers: map-merge($roles-borders-dividers, ());

// -------------------------| Underlines
$roles-borders-underlines: map-merge(
  $roles-borders-underlines,
  (
    'link': map-get($swatch-borders, '1px-dotted-light-blue')
  )
);

// -------------------------| Wrappers
$roles-borders-wrappers: map-merge(
  $roles-borders-wrappers,
  (
    'avatar': map-get($swatch-borders, '2px-solid-dusty-gray')
  )
);

// -------------------------| Radiuses
$roles-borders-radiuses: map-merge(
  $roles-borders-radiuses,
  (
    'avatar': map-get($swatch-border-radiuses, 'circle')
  )
);
