// ===================================================|
// Roles: TYPOGRAPHY

// -------------------------| Font families
$roles-typo-font-families: map-merge($roles-typo-font-families, ());

// -------------------------| Font sizes hierarchy
$roles-typo-font-sizes: map-merge($roles-typo-font-sizes, ());

// -------------------------| Line-heights
$roles-typo-line-heights: map-merge(
  $roles-typo-line-heights,
  (
    'text': map-get($swatch-line-heights, '150%')
  )
);

// -------------------------| Font weights
$roles-typo-font-weights: map-merge($roles-typo-font-weights, ());
