div(class='pm-summary col')
  div(class='holder')
    include ../atoms/_pa_ttl-page

    = '\n'

    div(class='text')
      each text in summary.text
        p #{text}

    = '\n'

    footer(class='pa-meta')
      div(class='sign') — #{summary.author}

      = '\n'

      if docs
        include _pm_docs
