// ===================================================|
// Atoms: AUTHOR

// -------------------------| Root
.root {
  font-size: map-get($roles-typo-font-sizes, 'author');
  font-style: italic;
  color: map-get($roles-col-texts, 'author');
  text-align: right;

  p {
    margin: 0;
  }
}

// -------------------------| Name
.name {
  //
}
