// ===================================================|
// Atoms: AUTHOR

// -------------------------| Root
.root {
  font-size: map-get($roles-typo-font-sizes, 'author');
  font-weight: map-get($roles-typo-font-weights, 'author');
  color: map-get($roles-col-texts, 'author');

  p {
    margin: 0;
  }
}

// -------------------------| Name
.name {
  //
}
