// ===================================================|
// Atoms: AUTHOR

//--------------------------| Root
.root {
  margin-bottom: 0;
  font-size: map-get($roles-typo-font-sizes, 'author');
  font-style: italic;
  font-weight: map-get($roles-typo-font-weights, 'author');
  color: map-get($roles-col-texts, 'author');
}
